<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^profile/?$ /profile.html [L]
    RewriteRule ^search/?$ /search.html [L]
    RewriteRule ^cargoselected/?$ /cargoselected.html [L]
    RewriteRule ^api/(.*)$ /services/api.php [L]
</IfModule>