

.c-table-panel {
    width: 1200px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем макет по центру */
    margin-top: 10px;
}

.c-tasks-table {
    border-collapse: collapse;
    font-size: 10pt;
    width: 100%;
    margin-top: 10px;
}

.c-tasks-table > TBODY {
    background-color: #ffffff;
}

.c-tasks-table > THEAD {
    background-color:#f0f0f0;
}

.c-tasks-table TH {
    padding: 2px;
    box-shadow: inset 1px 1px 4px #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #808080;
    font-weight: normal;
}

.c-tasks-table TD {
    padding: 4px;
    border: 1px solid #e6e6e6;
}

.c-table-options-panel {
    width: 1200px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем макет по центру */
    margin-top: 10px;
    font-size: 10pt;
}

.c-ctrl-tasks-navpage-panel {
    margin-top: 10px;
}

.c-ctrl-tasks-navpage-container {
    display: inline-block;
}

.c-ctrl-tasks-navpage-panel-link {
    display: inline-block;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    font-size: 10pt;
}

.c-ctrl-tasks-navpage-panel-link-disabled {
    color: #a0a0a0;
    cursor: default;
}

.c-ctrl-tasks-navpage-panel-link-current {
    font-weight: bold;
    cursor: default;
    background-color: #f0f0f0;
}

#i-ctrl-tasks-navpage-pagelink-template {
    display: none;
}

/*
    Таблица
    */

.calc-table {
    border-collapse: collapse;
    font-size: 10pt;
    width: 100%;
    margin-bottom: 10px;
}

.calc-table > TBODY {
    background-color: #ffffff;
}

.calc-table > TFOOT {
    font-weight:600;
}

.calc-table > THEAD {
    background-color:#f0f0f0;    
}

.calc-table TH {
    padding: 2px;
    box-shadow: inset 1px 1px 4px #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #808080;
    font-weight: normal;
}

.calc-table TD {
    padding: 4px;
    border: 1px solid #c0c0c0;
}

.calc-table-row-selected {
    background-color: #dff8dc;
}

.calc-table-col-up-down {
    
}

.calc-table-col-up, .calc-table-col-down {
    width: 22px;
}

.calc-table-col-show-details {

}

.calc-table-col-details {
    
}

.calc-table-col-up A, .calc-table-col-down A {
    color: green;
    text-decoration:none;
    
}


.calc-table-col-chk {
    text-align: center;
}

.calc-table-col-num {
    text-align: center;
}

.calc-table-col-trace {
    width: 5px;
}

.trace-pass {
    background-color: #00ff00;
}

.trace-stop {
    background-color: #ff0000;
}


.calc-table-col-from {
}

.calc-table-col-to {
}

.calc-table-col-distance {
    text-align: center;
}

.calc-table-col-sum-distance {
    text-align: center;
}

.calc-table-col-sum-distance:before {
    position: relative;
    content: url(resources/arrow-up-icon.png);
    top: 4px;
}

.calc-table-col-weight-load {
    text-align: center;
}

.calc-table-col-sum-weight {
    text-align: center;
}


.calc-table-col-value-load {
    text-align: center;
}

.calc-table-col-sum-value {
    text-align: center;
}

.calc-table-col-res-weight {
    text-align: center;
}

.calc-table-col-res-value {
    text-align: center;
}

.calc-table-col-res-empty {
    background-color: #ff0000;
}

.calc-table-col-val-empty {
    color: #ff0000;
}

.calc-table-col-val-custom {
    color: #0000ff;
    font-style:italic;
}


.calc-table-col-weight-value-pc {
    background: url("resources/bg-green.png") no-repeat;
}

.calc-table-col-res-pc {
    background: url("resources/bg-orange.png") no-repeat;
}


.calc-table-col-price {
    text-align: center;
}

.calc-table-col-price-weight {
    text-align: center;
}
.calc-table-col-price-value {
    text-align: center;
}

.calc-table-col-expense {
    text-align: center;
}

.calc-table-col-sum-expense {
    text-align: center;
}

.calc-table-col-proceeds {
    text-align: center;
}

.calc-table-col-sum-proceeds {
    text-align: center;
}

.calc-table-col-profit {
    text-align: center;
}

.calc-table-col-sum-profit {
    text-align: center;
}

.calc-table-col-lost-proceeds {
    text-align: center;
}

.calc-table-col-target-profit {
    text-align: center;
}

.calc-table-col-delete {
    text-align: center;
}

.calc-table-foot-semitotal {
    background-color: #f0f0f0;
}

.calc-table-foot-total {

}

/*
    Иконки
    
    */

.icon-button {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: 18px;  
    width: 18px; 
    cursor: pointer;
}

.icon-button:hover {
    background-position: 0px 0px;
}


.ib-arrow-up {
    background: url(resources/navigation-090-button.png) no-repeat;
    background-position: 1px 1px;
}

.ib-arrow-down {
    background: url(resources/navigation-270-button.png) no-repeat;
    background-position: 1px 1px;
}

.ib-arrow-up-gray {
    background: url(resources/navigation-090-button-gray.png) no-repeat;
    background-position: 1px 1px;
}

.ib-arrow-up-gray:hover {
    cursor: default;
    background-position: 1px 1px;
}

.ib-arrow-down-gray {
    background: url(resources/navigation-270-button-gray.png) no-repeat;
    background-position: 1px 1px;
}

.ib-arrow-down-gray:hover {
    cursor: default;
    background-position: 1px 1px;
}


.ib-cross {
    background: url(resources/cross.png) no-repeat;
    background-position: 1px 1px;
}

.ib-cross-small {
    background: url(resources/cross-small.png) no-repeat;
    background-position: 1px 1px;
}

.ib-search {
    background: url(resources/document-search-result.png) no-repeat;
    background-position: 1px 1px;
}

.ib-find {
    background: url(resources/find.png) no-repeat;
    background-position: 1px 1px;
}

.ib-slide-up {
    background: url(resources/fill-090.png) no-repeat;
    background-position: 1px 1px;
}

.ib-slide-down {
    background: url(resources/fill-270.png) no-repeat;
    background-position: 1px 1px;
}

.ib-build-route {
    background: url(resources/script--arrow.png) no-repeat;
    background-position: 1px 1px;
}

.ib-toggle {
    background: url(resources/toggle-small.png) no-repeat;
    background-position: 1px 1px;
}

.ib-toggle-expand {
    background: url(resources/toggle-small-expand.png) no-repeat;
    background-position: 1px 1px;
}

#calc-panel-bottom {
    margin-top: 10pt;
}